.vans-page {
    padding: 54px 0 100px 0;
    height: 100%;
    min-height: 100vh;
    
    h1 {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        color: #161616;
        @media only screen and (min-width: 1200px) {
            font-size: 32px;
        }
    }

    .wrapper-filters {
        display: flex;
        margin-bottom: 30px;
        align-items: center;
        gap: 20px;

        button {
            padding: 8px 26px;
            font-size: 16px;
            color: #4D4D4D;
            border-radius: 5px;
            background-color: #FFEAD0;
            border: none;
            cursor: pointer;

            &.selected {
                color: #fff;
            }

            &.simple.selected {
                background-color: #E17654;
            }

            &.rugged.selected {
                background-color: #115E59;
            }

            &.luxury.selected {
                background-color: #161616;
            }

            &.clear-filter {
                padding: 0 0 2px 0;
                margin: 0 0 0 auto;
                background-color: transparent;
                border-radius: 0;
                border-bottom: 1px solid;
                border-top: 0;
                border-left: 0;
                border-right: 0;
            }
        }
    }

    .container-vans-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        @media only screen and (min-width: 600px) {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            gap: 50px;
        }
        @media only screen and (min-width: 1024px) {
            justify-content: flex-start;
            gap: 50px;
        }
    }
}

.error-loading-state {
    min-height: 100%;
    height: calc(100vh - 167px);
}