:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF7ED;
}

.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
    @media only screen and (min-width: 1400px) {
        padding: 0;
    }
}

.nav-host {
    display: flex;
    align-items: center;
    gap: 25px;

    a {
        font-size: 18px;
        font-weight: 700;
        color: #4D4D4D;
        text-decoration: none;
        transition: all 0.3s ease;
        &:hover,
        &.active {
            color: #161616;
        }

        &.active {
            text-decoration: underline;
        }
    }
}

.not-found-page {
    display: flex;
    height: calc(100vh - 167px);
    padding-top: 100px;
    justify-content: center;

    h1 {
        margin-bottom: 50px;
        font-size: 24px;
        line-height: 1.3em;
        text-align: center;
    }
    
    .cta {
        display: block;
        max-width: 300px;
        padding: 10px 40px;
        margin: 0 auto;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background-color: #000;
        border-radius: 5px;
    }
}