.wrapper-van-details {
    padding: 50px 0 100px 0;
    min-height: 100vh;

    .back-link {
        display: block;
        margin-bottom: 40px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
        color: #201F1D;

        svg {
            margin-right: 10px;
        }
    }

    .content-wrapper {
        padding: 0 20px;
        @media only screen and (min-width: 800px) {
            max-width: 800px;
            padding: 0;
            margin: 0 auto;
        }

        .wrapper-image {
            height: 340px;
            margin-bottom: 50px;
            border-radius: 5px;
            @media only screen and (min-width: 600px) {
                max-width: unset;
                height: 480px;
            }
    
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 5px;
                @media only screen and (min-width: 600px) {
                    object-position: center;
                }
            }
        }
        
        .tag {
            max-width: 85px;
            margin-bottom: 20px;
            padding: 10px 14px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            color: #fff;
            border-radius: 5px;
            &.simple {
                background-color: #E17654;
            }
            &.rugged {
                background-color: #115E59;
            }
            &.luxury {
                background-color: #161616;
            }
        }
    
        .van-name {
            margin-bottom: 15px;
            font-size: 24px;
            font-weight: 700;
            color: #161616;
            @media only screen and (min-width: 1200px) {
                font-size: 32px;
            }
        }
    
        .van-price {
            margin-bottom: 15px;
            font-size: 20px;
            font-weight: 500;
            color: #161616;
    
            span {
                font-size: 24px;
                font-weight: 700;
                color: #161616;
            }
        }
    
        .van-description {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: #161616;
        }
    
        .link-button {
            width: 100%;
            padding: 10px 0;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            color: #FFF;
            background-color: #FF8C38;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }    
}