.host-vans-page,
.host-vans-details-page {
    height: calc(100vh - 167px);
    padding: 50px 0 100px 0;
}

.host-vans-page {
    h1 {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 700;
        color: #161616;
        @media only screen and (min-width: 1200px) {
            font-size: 32px;
        }
    }

    .wrapper-listed-vans {
        .listed-van {
            background-color: #fff;
            border-radius: 6px;
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }

            a {
                display: flex;
                padding: 18px 24px;
                align-items: center;
                gap: 18px;    
                text-decoration: none;

                img {
                    width: 65px;
                    height: 65px;
                    border-radius: 5px;
                }
    
                .container-van-infos {
                    .van-name {
                        margin-bottom: 10px;
                        font-size: 20px;
                        font-weight: 600;
                        color: #161616;
                    }
    
                    .price {
                        font-size: 16px;
                        font-weight: 500;
                        color: #4D4D4D;
                    }
                }
            }
        }
    }
}

.host-vans-details-page {
    .wrapper-details {
        padding: 25px;
        background: #FFF;
        border-radius: 6px;

        .container-van-preview {
            display: flex;
            margin-bottom: 25px;
            gap: 20px;
            align-items: center;

            img {
                width: 160px;
                height: 160px;
                border-radius: 5px;
            }

            .wrapper-infos {
                .tag {
                    display: inline-block;
                    margin-bottom: 15px;
                    padding: 5px 20px;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: capitalize;
                    color: #fff;
                    border-radius: 5px;

                    &.simple {
                        background-color: #E17654;
                    }
                }

                .name {
                    margin-bottom: 10px;
                    font-size: 26px;
                    font-weight: 700;
                    color: #161616;
                }
                
                .price {
                    font-size: 16px;
                    font-weight: 500;
                    color: #161616;

                    span {
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
        }

        .wrapper-nav {
            margin-bottom: 30px;
            
            a {
                padding-bottom: 2px;
                font-size: 16px;
                font-weight: 700;
                color: #4D4D4D;
                text-decoration: none;
                transition: all 0.3s ease;
                &:not(:last-of-type) {
                    margin-right: 20px;
                }

                &.active,
                &:hover {
                    color: #161616;
                    border-bottom: 1px solid #161616;
                    transition: all 0.3s ease;
                }
            }
        }

        .wrapper-van-description p {
            font-size: 16px;
            color: #161616;
            &:not(:last-of-type) {
                margin-bottom: 15px;
            }
            
            span {
                font-weight: bold;
            }
        }

        .van-tab-pricing {
            font-size: 16px;
            font-weight: 500;
            color: #4D4D4D;

            span {
                font-size: 24px;
                font-weight: bold;
                color: #161616;
            }
        }

        .wrapper-van-photos-list {
            display: flex;
            gap: 20px;

            img {
                width: 100px;
                height: 100px;
                border-radius: 5px;
            }
        }
    }
}


// common
.back-link {
    display: block;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    color: #201F1D;

    svg {
        margin-right: 10px;
    }
}